* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    background: black;
    background-image: url(../CSS/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

img {
    height: auto;
    width: 100%;
}

p, ul, li, a, label, input {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.1rem;
    color: black;
    margin: 0;
    text-decoration: none;
}

a:hover {
    text-shadow: 4px 4px 16px red;
}

label {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    color: black;
    margin: 0;
    padding-bottom: 5px;
    text-decoration: none;   
}

input, textarea {
    border: none;
    outline: none;
    padding-bottom: 4px;
    width: 70%;
    background: none;
    border-bottom: solid red 2px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3rem;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 px 1000px white inset;
    background-color: transparent;
    opacity: 0.7;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 7rem;
    letter-spacing: -5px;
    color: white;
    margin: 0;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    color: white;
    letter-spacing: -1px;
    margin: 0;
}

section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.left {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.right {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
}

.top-left, .bottom-left {
    flex-basis: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 10px 40px;
    background: none;
}

.bottom-left p, .bottom-left a {
    font-size: 1rem;
    color: white;
}

.main-left {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.main {
    background: white;
    opacity: 0.92;
    justify-content: space-evenly;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.top, .bottom {
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 10px 40px;
    background: none;
}

.main-a {
    flex-basis: 70%;
    padding: 220px 20px 20px 40px;
}

.main-b {
    flex-basis: 10%;
    padding: 0px 20px 50px 40px;
}

.main-b p, .main-b a {
    font-size: 1.5rem;
    font-style: italic;
    color: white;
}

.main-c {
    flex-basis: 20%;
}

.text, .text-button {
    flex-basis: 9%;
    display: flex;
    flex-direction: column;
    padding: 10px 50px 5px;
}

.text-button {
    padding-bottom: 10px;
}

.text-big {
    flex-basis: 18%;
    flex-direction: column;
    padding: 10px 50px 5px;
}

.button {
    border: none;
    width: 30%;
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: green;
    cursor: pointer;
}

.text-gender {
    padding: 0px;
    margin: 0px;
    padding-top: 15px;
    display: flex;
}

.text-gender label {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    flex-basis: 15%;
    display: flex;
    padding-left: 0px;
    padding-right: 20px;
    justify-content: space-between;
}

.text-gender input {
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: red;
}

.text-gender input:hover {
    background-color: red;
}